{% extends 'base.html' %}
{% block title %}Upload{% endblock title %}

{% block content %}
<!-- Users can upload files by using upload button -->
{% if msg%}
Uploaded sucufully
{% endif %}

<h2>Upload files</h2>
<br>
<!--multipart/form-data must be included for uploading a document-->
<div style="border: 4px solid black; padding:20px">
  <form method="POST" enctype="multipart/form-data" style="margin-bottom: 20px;">
    {%csrf_token%}
    {{form.as_p}}
    <!-- accept="application/pdf" is used to accept only pdf-->
    <button type="submit" accept="application/pdf">Upload</button>
  </form>
</div>

{% endblock content %}  